# Dataset House Price

In [1]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\ead\desktop\aulaml_tarde\.venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ead\desktop\aulaml_tarde\.venv\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ead\desktop\aulaml_tarde\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ead\desktop\aulaml_tarde\.venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ead\desktop\aulaml_tarde\.venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\ead\desktop\aulaml_tarde\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
url = "Dataset/Housing.csv"
pd.read_csv(url)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [4]:
df = pd.read_csv(url)

In [5]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [6]:
df.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [8]:
# declarando variáveis quantitativas discreta

price = 1330000
print(price)

1330000

In [9]:
# Variáveis qualitativas (contínuas e discretas)
mainroad= "rua_principal"
print(mainroad)

rua_principal

# Quais as variáveis podem ser correlacionadas com o preço

In [15]:
! pip install seaborn

Collecting seaborn
  Using cached seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\ead\desktop\aulaml_tarde\.venv\lib\site-packages (from seaborn) (2.1.1)
Requirement already satisfied: pandas>=1.2 in c:\users\ead\desktop\aulaml_tarde\.venv\lib\site-packages (from seaborn) (2.2.3)
Collecting matplotlib!=3.6.1,>=3.4 (from seaborn)
  Using cached matplotlib-3.9.2-cp312-cp312-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Using cached contourpy-1.3.0-cp312-cp312-win_amd64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading fonttools-4.54.1-cp312-cp312-win_amd64.whl.metadata (167 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Using cached kiwisolver-1.4.7-cp312-cp312-win_amd64.whl.metadata (6.4 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\ead\desktop\aulaml_tarde\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Collecting pillow>=8 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Using cached pillow-10.4.0-cp312-cp312-win_amd64.whl.metadata (9.3 kB)
Collecting pyparsing>=2.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Using cached pyparsing-3.1.4-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ead\desktop\aulaml_tarde\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ead\desktop\aulaml_tarde\.venv\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ead\desktop\aulaml_tarde\.venv\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\ead\desktop\aulaml_tarde\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Using cached seaborn-0.13.2-py3-none-any.whl (294 kB)
Using cached matplotlib-3.9.2-cp312-cp312-win_amd64.whl (7.8 MB)
Using cached contourpy-1.3.0-cp312-cp312-win_amd64.whl (218 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.54.1-cp312-cp312-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   ---------------------------- ----------- 1.6/2.2 MB 8.4 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 8.3 MB/s eta 0:00:00
Using cached kiwisolver-1.4.7-cp312-cp312-win_amd64.whl (55 kB)
Using cached pillow-10.4.0-cp312-cp312-win_amd64.whl (2.6 MB)
Using cached pyparsing-3.1.4-py3-none-any.whl (104 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.3.0 cycler-0.12.1 fonttools-4.54.1 kiwisolver-1.4.7 matplotlib-3.9.2 pillow-10.4.0 pyparsing-3.1.4 seaborn-0.13.2

In [16]:
! pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\ead\desktop\aulaml_tarde\.venv\lib\site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\ead\desktop\aulaml_tarde\.venv\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\ead\desktop\aulaml_tarde\.venv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ead\desktop\aulaml_tarde\.venv\lib\site-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\ead\desktop\aulaml_tarde\.venv\lib\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in c:\users\ead\desktop\aulaml_tarde\.venv\lib\site-packages (from matplotlib) (2.1.1)
Requirement already satisfied: packaging>=20.0 in c:\users\ead\desktop\aulaml_tarde\.venv\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\ead\desktop\aulaml_tarde\.venv\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\ead\desktop\aulaml_tarde\.venv\lib\site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ead\desktop\aulaml_tarde\.venv\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\ead\desktop\aulaml_tarde\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [14]:
import seaborn as sns
import matplotlib.pyplot as plt

# Carregar os dados
data = pd.read_csv('seus_dados.csv')

# Calcular a matriz de correlação
correlation_matrix = data.corr()

# Visualizar a matriz de correlação
plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, annot=True, fmt='.2f', cmap='coolwarm')
plt.title('Matriz de Correlação')
plt.show()

ModuleNotFoundError: No module named 'seaborn'

In [17]:
import seaborn as sns

In [18]:
import matplotlib.pyplot as plt

In [19]:
# Variavéis quantitativas discretas
# Dados fornecidos
data = {
    'price': [13300000, 12250000, 12250000, 12215000, 11410000],
    'area': [7420, 8960, 9960, 7500, 7420],
    'bedrooms': [4, 4, 3, 4, 4],
    'bathrooms': [2, 4, 2, 2, 1],
    'stories': [3, 4, 2, 2, 2],
    'mainroad': ['yes', 'yes', 'yes', 'yes', 'yes'],
    'guestroom': ['no', 'no', 'no', 'no', 'yes'],
    'basement': ['no', 'no', 'yes', 'yes', 'yes'],
    'hotwaterheating': ['no', 'no', 'no', 'no', 'yes'],
    'airconditioning': ['yes', 'yes', 'no', 'yes', 'yes'],
    'parking': [2, 3, 2, 3, 2],
    'prefarea': ['yes', 'yes', 'yes', 'yes', 'yes'],
    'furnishingstatus': ['furnished', 'furnished', 'semi-furnished', 'furnished', 'furnished']
}

# Criar o DataFrame
df = pd.DataFrame(data)

# Extrair variáveis discretas
discrete_vars = df[['bedrooms', 'bathrooms', 'stories', 'parking']]

# Exibir as variáveis discretas
print(discrete_vars)

   bedrooms  bathrooms  stories  parking
0         4          2        3        2
1         4          4        4        3
2         3          2        2        2
3         4          2        2        3
4         4          1        2        2

In [20]:
# Variaveis qualitativas nominais
data = {
    'price': [13300000, 12250000, 12250000, 12215000, 11410000],
    'area': [7420, 8960, 9960, 7500, 7420],
    'bedrooms': [4, 4, 3, 4, 4],
    'bathrooms': [2, 4, 2, 2, 1],
    'stories': [3, 4, 2, 2, 2],
    'mainroad': ['yes', 'yes', 'yes', 'yes', 'yes'],
    'guestroom': ['no', 'no', 'no', 'no', 'yes'],
    'basement': ['no', 'no', 'yes', 'yes', 'yes'],
    'hotwaterheating': ['no', 'no', 'no', 'no', 'yes'],
    'airconditioning': ['yes', 'yes', 'no', 'yes', 'yes'],
    'parking': [2, 3, 2, 3, 2],
    'prefarea': ['yes', 'yes', 'yes', 'yes', 'yes'],
    'furnishingstatus': ['furnished', 'furnished', 'semi-furnished', 'furnished', 'furnished']
}

# Criar o DataFrame
df = pd.DataFrame(data)

# Extrair variáveis qualitativas nominais
nominal_vars = df[['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea', 'furnishingstatus']]

# Exibir as variáveis nominais
print(nominal_vars)

  mainroad guestroom basement hotwaterheating airconditioning prefarea  \
0      yes        no       no              no             yes      yes
1      yes        no       no              no             yes      yes
2      yes        no      yes              no              no      yes
3      yes        no      yes              no             yes      yes
4      yes       yes      yes             yes             yes      yes

  furnishingstatus
0        furnished
1        furnished
2   semi-furnished
3        furnished
4        furnished

In [ ]:
data = {
    'price': [13300000, 12250000, 12250000, 12215000, 11410000],
    'area': [7420, 8960, 9960, 7500, 7420],
    'bedrooms': [4, 4, 3, 4, 4],
    'bathrooms': [2, 4, 2, 2, 1],
    'stories': [3, 4, 2, 2, 2],
    'mainroad': ['yes', 'yes', 'yes', 'yes', 'yes'],
    'guestroom': ['no', 'no', 'no', 'no', 'yes'],
    'basement': ['no', 'no', 'yes', 'yes', 'yes'],
    'hotwaterheating': ['no', 'no', 'no', 'no', 'yes'],
    'airconditioning': ['yes', 'yes', 'no', 'yes', 'yes'],
    'parking': [2, 3, 2, 3, 2],
    'prefarea': ['yes', 'yes', 'yes', 'yes', 'yes'],
    'furnishingstatus': ['furnished', 'furnished', 'semi-furnished', 'furnished', 'furnished']
}

# Criar o DataFrame
df = pd.DataFrame(data)

# Extrair variáveis qualitativas nominais
nominal_vars = df[['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea', 'furnishingstatus']]

# Exibir as variáveis nominais
print(nominal_vars)

In [21]:
# Variaveis qualitativas ordinais
df = pd.DataFrame(data)

# Extrair a variável qualitativa ordinal
ordinal_var = df[['furnishingstatus']]

# Exibir a variável ordinal
print(ordinal_var)

  furnishingstatus
0        furnished
1        furnished
2   semi-furnished
3        furnished
4        furnished

In [22]:
# Variáveis quantitativas continua
df = pd.DataFrame(data)

# Extrair variáveis quantitativas contínuas
continuous_vars = df[['price', 'area']]

# Exibir as variáveis contínuas
print(continuous_vars)

# Análise básica: Estatísticas descritivas
print(continuous_vars.describe())

      price  area
0  13300000  7420
1  12250000  8960
2  12250000  9960
3  12215000  7500
4  11410000  7420
              price         area
count  5.000000e+00     5.000000
mean   1.228500e+07  8252.000000
std    6.714164e+05  1158.499029
min    1.141000e+07  7420.000000
25%    1.221500e+07  7420.000000
50%    1.225000e+07  7500.000000
75%    1.225000e+07  8960.000000
max    1.330000e+07  9960.000000

In [24]:
# Variáveis independentes
df = pd.DataFrame(data)

# Variável dependente (alvo)
y = df['price']

# Variáveis independentes
X = df.drop('price', axis=1)

# Visualizando as variáveis independentes
print(X)

   area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0  7420         4          2        3      yes        no       no
1  8960         4          4        4      yes        no       no
2  9960         3          2        2      yes        no      yes
3  7500         4          2        2      yes        no      yes
4  7420         4          1        2      yes       yes      yes

  hotwaterheating airconditioning  parking prefarea furnishingstatus
0              no             yes        2      yes        furnished
1              no             yes        3      yes        furnished
2              no              no        2      yes   semi-furnished
3              no             yes        3      yes        furnished
4             yes             yes        2      yes        furnished